.questionContainer {
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.singleQuestion {
  width: 85%;
  color: aliceblue;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 25px;
  padding: 20px;
  margin-top: 10px;
  /* background-image: url("../../assets/Frame 32.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 15%; */

  /* background-image: linear-gradient(
    147.23deg,
    #486688 5.09%,
    rgba(43, 123, 215, 0.27) 53.59%,
    #b2d7ee 87.54%
  ); */

  background: var(--main-bg1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.answers {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  align-items: center;
  justify-content: space-around;
  margin: 40px;
  padding-top: 3%;
}

.single_answer {
  width: 46%;
  height: 65px;
  padding: 15px 20px;
  margin: 10px;
  font-size: 20px;
  border-radius: 25px;
  border-color: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
}

@media (max-width: 1024px) {
  .questionContainer h1 {
    font-size: 35px;
  }

  .single_answer {
    font-size: 15px;
    height: 60px;
    align-self: center;
  }
  .singleQuestion {
    width: 80%;
    min-height: 350px;
  }
  .singleQuestion h2 {
    font-size: 25px;
  }
}

@media (max-width: 768px) {
  .questionContainer {
    height: 65vh;
  }
  .questionContainer h1 {
    font-size: 25px;
  }

  .single_answer {
    width: 100%;
    font-size: 15px;
    height: 60px;
    align-self: center;
  }
  .singleQuestion {
    width: 80%;
    min-height: 250px;
  }
  .singleQuestion h2 {
    font-size: 25px;
  }
}

.buttons {
  display: flex;
  width: 85%;
  justify-content: space-between;

  padding-top: 7%;
  background: var(--secondary-color);
}

.select {
  background-color: #06d6a0;
  color: white;
  transition: all 0.6s ease-in-out;
  /* -webkit-box-shadow: 0px 0px 38px 9px rgba(252, 252, 252, 0.51);
  box-shadow: 0px 0px 38px 9px rgba(252, 252, 252, 0.51); */
}

.wrong_answer {
  background-color: #ef476f;
  color: white;
  box-shadow: 0 0 1px #fcfcfc;
}

@media (max-width: 360px) {
  .questionContainer h1 {
    font-size: 15px;
  }

  .single_answer {
    width: 100%;
    font-size: 12px;
    height: 40px;
    align-self: center;
  }
  .singleQuestion {
    width: 80%;
    min-height: 80px !important;
  }
  .singleQuestion h2 {
    font-size: 12px;
  }
}

@media (max-width: 614px) {
  .single_answer {
    width: 100%;
    font-size: 12px;
    height: 50px;
    align-self: center;
  }
  .singleQuestion {
    width: 80%;
    min-height: 200px;
  }
  .questionContainer h1 {
    font-size: 18px;
    padding-top: 20px;
  }
}
